<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Umfrage zu Selbsthilfe Themen</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="content-area content-low-height">
	
      <h1>Umfrage zu Selbsthilfe Themen</h1>
      <div class="content">

        <p>Zu den Umfragen: <a href="/surveyForm">Hier klicken</a></p>
      </div>
      <footer>
          <div class="container text-center">
              <span>&copy; 2025</span>
          </div>
      </footer>
   </div>

</body>
</html>